<div class="waiting-image">
  <h1>Waiting screen</h1>
  <div id="blackSquare"></div>
  <div>


    <button id="roomName" [disabled]="true">{{currentRoom}}</button>

    <div id="innerBlackSquare"></div>

    <h3 id="playerCount">Players: {{currentPlayers}} / {{maxplayers}}</h3>
    <div id="players" *ngFor= "let user of playersInRoom">
      <h3 id="p1">{{user}}</h3>
    </div>

    <div id="outerSquare">
      <h3 id="pathName">standard path</h3>
      <h3 id="pathDiff">easy</h3>
    </div>

  </div>
  <button id="quit" class="bottomButtons" type="submit" [routerLink]="['/game']" (click)="quitRoom()">Quit</button>
</div>
