<div class="waiting-image">
  <h1>Waiting screen</h1>
  <div id="blackSquare"></div>
  <div>


    <button id="roomName" [disabled]="true">{{current_room}}</button>

    <div id="innerBlackSquare"></div>

    <h3 id="playerCount">Players: {{currentPlayers}} / {{maxplayers}}</h3>
  <div *ngFor= "let user of users">
    <h3>{{user.username}}</h3>
  </div>
    <div id="outerSquare">
      <h3 id="pathName">standard path</h3>
      <h3 id="pathDiff">easy</h3>
    </div>

  </div>
  <button id="quit" class="bottomButtons" type="submit" [routerLink]="['/host-screen']">Quit</button>
  <button id="startGame" class="bottomButtons" type="submit" [routerLink]="['/in-game-screen']">Start Game</button>
</div>
