<body>
<div class="container">
  <div class="path "
       (mouseenter) ="mouseEnter('test input value')"
       (mouseleave) ="mouseLeave('test input value')"
  >
    <div class="hexes-1 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--A tile-->
      <app-hex [hexId]="'A16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-2 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--A tile-->
      <app-hex [hexId]="'A23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-3 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--A tile-->
      <app-hex [hexId]="'A29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-4 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A19'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



    </div>


    <div class="hexes-5 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A35'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'A31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>
    <div class="hexes-6 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--dorado tile-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
    </div>


    <div class="hexes-7 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--dorado tile-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
      <app-hex [hexId]="'EDBlue2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'EDBlue3'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

    </div>

    <div class="hexes-8 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <div *ngIf="this.BK1">
      <app-hex [hexId]="'L4'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      </div>
        <div *ngIf="!this.BK1">
          <app-hex [hexId]="'L4'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
        </div>

        <div *ngIf="this.BK1">
        <app-hex [hexId]="'L3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
        </div>
          <div *ngIf="!this.BK1">
            <app-hex [hexId]="'L1'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
          </div>
          <div *ngIf="!this.BK1">
            <app-hex [hexId]="'L3'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
          </div>

      <div *ngIf="this.BK1">
      <app-hex [hexId]="'L2'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      </div>
        <div *ngIf="!this.BK1">
          <app-hex [hexId]="'L2'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
        </div>


      <div *ngIf="this.BK1">
      <app-hex [hexId]="'L1'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
    </div>
    <div *ngIf="!this.BK1">
      <app-hex [hexId]="'L1'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
    </div>


      <app-hex [hexId]="'BK1'" [colourclass]="'hexagon blockade'" [strengthId]="this.strengthBK1"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->
      <app-hex [hexId]="'EDBlue1'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'I28'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'I22'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

     </div>

    <div class="hexes-9 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <app-hex [hexId]="'L9'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'L8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'L7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->
      <app-hex [hexId]="'I36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'I21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'I15'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>


    </div>

    <div class="hexes-10 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <app-hex [hexId]="'L15'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'L14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'L13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L12'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'L11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->
      <app-hex [hexId]="'I35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I31'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I14'" [colourclass]="'hexagon grey'" [strengthId]="'get-card3'"></app-hex>
      <app-hex [hexId]="'I9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>


    </div>

    <div class="hexes-11 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <app-hex [hexId]="'L22'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'L21'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'L20'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'L19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L18'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'L17'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'L16'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--I tile-->
      <app-hex [hexId]="'I34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I25'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I19'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I13'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I4'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>



    </div>


    <div class="hexes-12 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <app-hex [hexId]="'L28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L26'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'L25'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'L23'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->
      <app-hex [hexId]="'I29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I24'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I18'" [colourclass]="'hexagon card'" [strengthId]="'discard3'"></app-hex>
      <app-hex [hexId]="'I12'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I3'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>



    </div>

    <div class="hexes-13 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--L tile-->
      <app-hex [hexId]="'L33'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'L32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L31'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'L30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--I tile-->
      <app-hex [hexId]="'I23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I11'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>



    </div>

    <div class="hexes-14 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--L tile-->
      <app-hex [hexId]="'L37'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'L36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'L34'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--I tile-->
      <div *ngIf="this.BK5">
      <app-hex [hexId]="'I16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
    </div>
    <div *ngIf="!this.BK5">
      <app-hex [hexId]="'I16'" [colourclass]= "this.colorBK5" [strengthId]= ""></app-hex>
    </div>

    <div *ngIf="this.BK5">
      <app-hex [hexId]="'I10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
  </div>
  <div *ngIf="!this.BK5">
    <app-hex [hexId]="'I10'" [colourclass]= "this.colorBK5" [strengthId]= ""></app-hex>
  </div>

  <div *ngIf="this.BK5">
      <app-hex [hexId]="'I5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
</div>
<div *ngIf="!this.BK5">
  <app-hex [hexId]="'I5'" [colourclass]= "this.colorBK5" [strengthId]= ""></app-hex>
</div>

<div *ngIf="this.BK5">
      <app-hex [hexId]="'I1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
</div>
<div *ngIf="!this.BK5">
  <app-hex [hexId]="'I1'" [colourclass]= "this.colorBK5" [strengthId]= ""></app-hex>
</div>



    </div>

    <div class="hexes-15 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->

      <div *ngIf="this.BK2">
      <app-hex [hexId]="'G4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK2">
      <app-hex [hexId]="'G4'" [colourclass]= "this.colorBK2" [strengthId]= ""></app-hex>
    </div>

    <div *ngIf="this.BK2">
    <app-hex [hexId]="'G3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK2">
      <app-hex [hexId]="'G3'" [colourclass]= "this.colorBK2" [strengthId]= ""></app-hex>
    </div>

  <div *ngIf="this.BK2">
  <app-hex [hexId]="'G2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK2">
      <app-hex [hexId]="'G2'" [colourclass]= "this.colorBK2" [strengthId]= ""></app-hex>
    </div>

<div *ngIf="this.BK2">
<app-hex [hexId]="'G1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK2">
      <app-hex [hexId]="'G1'" [colourclass]= "this.colorBK2" [strengthId]= ""></app-hex>
    </div>

      <app-hex [hexId]="'BK2'" [colourclass]="'hexagon blockade'" [strengthId]="this.bk2Strength"></app-hex>



      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--M tile-->
      <app-hex [hexId]="'M16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M23'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'BK5'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>



    </div>

    <div class="hexes-16 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G7'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G6'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--M tile-->
      <app-hex [hexId]="'M10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M35'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>


    </div>


    <div class="hexes-17 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G14'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G13'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--M tile-->
      <app-hex [hexId]="'M5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'M18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M25'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-18 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'G21'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'G18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'G17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'BK3'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--M tile-->
      <div *ngIf="this.BK4">
      <app-hex [hexId]="'M1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK4">
      <app-hex [hexId]="'M1'" [colourclass]= "this.colorBK4" [strengthId]= ""></app-hex>
    </div>

      <app-hex [hexId]="'M6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'M12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M19'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'M26'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M32'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'M37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-19 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G26'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G23'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <!--D tile-->
      <div *ngIf="this.BK3">
      <app-hex [hexId]="'D16'" [colourclass]="'hexagon blue'" [strengthId]="'paddle3'"></app-hex>
    </div>
    <div *ngIf="!this.BK3">
      <app-hex [hexId]="'D16'" [colourclass]= "this.colorBK3" [strengthId]= ""></app-hex>
    </div>
      <app-hex [hexId]="'D23'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'D29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D34'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>




      <!--M tile-->
      <div *ngIf="this.BK4">
      <app-hex [hexId]="'M2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK4">
      <app-hex [hexId]="'M2'" [colourclass]= "this.colorBK4" [strengthId]= ""></app-hex>
    </div>

      <app-hex [hexId]="'M7'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M27'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'M33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-20 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--G tile-->
      <app-hex [hexId]="'G33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G32'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G30'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <!--D tile-->
      <div *ngIf="this.BK3">
      <app-hex [hexId]="'D10'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
    </div>
    <div *ngIf="!this.BK3">
      <app-hex [hexId]="'D10'" [colourclass]= "this.colorBK3" [strengthId]= ""></app-hex>
    </div>
      <app-hex [hexId]="'D17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'D24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'D30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>




      <!--M tile-->
      <div *ngIf="this.BK4">
      <app-hex [hexId]="'M3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK4">
      <app-hex [hexId]="'M3'" [colourclass]= "this.colorBK4" [strengthId]= ""></app-hex>
    </div>
      <app-hex [hexId]="'M8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'M21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-21 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--G tile-->
      <app-hex [hexId]="'G37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <!--D tile-->
      <div *ngIf="this.BK3">
      <app-hex [hexId]="'D5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>
    <div *ngIf="!this.BK3">
      <app-hex [hexId]="'D5'" [colourclass]= "this.colorBK3" [strengthId]= ""></app-hex>
    </div>
      <app-hex [hexId]="'D11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'D18'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'D25'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D31'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>




      <!--M tile-->
      <div *ngIf="this.BK4">
      <app-hex [hexId]="'M4'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
    </div>
    <div *ngIf="!this.BK4">
      <app-hex [hexId]="'M4'" [colourclass]= "this.colorBK4" [strengthId]= ""></app-hex>
    </div>
      <app-hex [hexId]="'M9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle4'"></app-hex>
      <app-hex [hexId]="'M15'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M22'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>


    </div>


    <div class="hexes-22 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--D tile-->
      <div *ngIf="this.BK3">
      <app-hex [hexId]="'D1'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
    </div>
    <div *ngIf="!this.BK3">
      <app-hex [hexId]="'D1'" [colourclass]= "this.colorBK3" [strengthId]= ""></app-hex>
    </div>

      <app-hex [hexId]="'D6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D19'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'D26'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'D32'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D37'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'BK4'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


    </div>


    <div class="hexes-23 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--D tile-->
      <app-hex [hexId]="'D2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'D13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D20'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D27'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>


    <div class="hexes-24 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--D tile-->
      <app-hex [hexId]="'D3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-25 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--D tile-->
      <app-hex [hexId]="'D4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>



  </div

  ></div>
</body>
