<div class="host-image"><h1>Host a new game</h1><br>

<h3>Game name:</h3>
<input type="text" [(ngModel)]="room.name">

<h3>Choose Path:</h3>
<select id="selectPath">
  <option *ngFor="let path of paths" [value]="path.pathID" >{{path.pathName}}</option>
</select><br>

<h3>Choose number of players:</h3>
<select id="maxPlayer">
  <option *ngFor="let numbOfPlayer of numbOfPlayers" [value]="numbOfPlayer.numbValue">{{numbOfPlayer.numbSelect}}</option>
</select><br>

<h3>Password protection:</h3>

<div class="onoffswitch">
  <form #myForm="ngForm">
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" #checkBox="ngModel"
         [(ngModel)]="shown" (click)="pwdInput()">
  <label class="onoffswitch-label" for="myonoffswitch">
    <span class="onoffswitch-inner"></span>
    <span class="onoffswitch-switch"></span>
  </label>
  </form>
</div>

<div>
  <div *ngIf="shown">
    <h3>Password:</h3>
    <input type="text" [(ngModel)]="room.pwd"><br><br>
  </div>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['/waiting-screen']" (click)="pathSelect()">Create Game</button>
<button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['/game']">Back to lobby</button>
  </div>
