<div class="host-image">
  <h1>Host a new game</h1><br>

<h3>Game Name:</h3>
<input class="hostInput" type="text" placeholder="My room" [(ngModel)]="room.name">

  <h3>Choose Path:</h3>
<select class="hostInput">
  <option *ngFor="let path of paths" [value]="path.pathID">{{path.pathName}}</option>
</select>

<h3>Choose # of Players:</h3>
  <select id="maxPlayer" class="hostInput">
  <option *ngFor="let numbOfPlayer of numbOfPlayers" [value]="numbOfPlayer.numbValue">{{numbOfPlayer.numbSelect}}</option>
</select>

<h3>Password Protection:</h3>

<div class="onoffswitch">
  <form #myForm="ngForm">
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" #checkBox="ngModel"
         [(ngModel)]="shown" (click)="pwdInput()">
  <label class="onoffswitch-label" for="myonoffswitch">
    <span class="onoffswitch-inner"></span>
    <span class="onoffswitch-switch"></span>
  </label>
  </form>
</div>

<div>
  <div *ngIf="shown">
    <h3>Password:</h3>
    <input class="hostInput" type="text" placeholder="My password" [(ngModel)]="room.pwd"><br><br>
  </div>
</div>

<button class="hostBtn" id="createGame" type="submit" (click)= "playerNumSelect();createRoom()">Create Game</button>
<button class="hostBtn" id="back2lobby" type="submit" [routerLink]="['/game']">Back to Lobby</button>

</div>
