<body>
<div class="container">
  <div class="path "
       (mouseenter) ="mouseEnter('test input value')"
       (mouseleave) ="mouseLeave('test input value')"
  >
    <div class="hexes-1 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-2 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>







      <!--B tile-->
      <app-hex [hexId]="'A5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-3 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

</div>

    <div class="hexes-4 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A19'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK1'" [colourclass]="'hexagon blockade'" [strengthId]= "this.bk1Strength"></app-hex>


    </div>
    <div class="hexes-5 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>




      <!--tile C-->
      <div *ngIf="this.BK1">
        <app-hex [hexId]="'C22'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
      </div>
      <div *ngIf="!this.BK1">
        <app-hex [hexId]="'C22'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      </div>
      <app-hex [hexId]="'C15'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>
    <div class="hexes-6 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>




      <!--tile C-->
      <div *ngIf="this.BK1">
        <app-hex [hexId]="'C28'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
      </div>
      <div *ngIf="!this.BK1">
      <app-hex [hexId]="'C28'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      </div>
      <app-hex [hexId]="'C21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C14'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>


    <div class="hexes-7 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--B tile-->
      <app-hex [hexId]="'A34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A35'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'A36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>




      <!--tile C-->
      <div *ngIf="this.BK1">
        <app-hex [hexId]="'C33'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
      </div>
      <div *ngIf="!this.BK1">
      <app-hex [hexId]="'C33'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      </div>
      <app-hex [hexId]="'C27'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C13'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>


    </div>

    <div class="hexes-8 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--tile C-->
      <div *ngIf="this.BK1">
        <app-hex [hexId]="'C37'" [colourclass]= "this.colorBK1" [strengthId]= ""></app-hex>
      </div>
      <div *ngIf="!this.BK1">
      <app-hex [hexId]="'C37'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      </div>
      <app-hex [hexId]="'C32'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C26'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C19'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'C12'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C1'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

    </div>

    <div class="hexes-9 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--G tile-->
      <app-hex [hexId]="'G22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'G15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>




      <!--tile C-->
      <app-hex [hexId]="'C36'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C25'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C18'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C11'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C5'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


    </div>

    <div class="hexes-10 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--G tile-->
      <app-hex [hexId]="'G28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G21'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G14'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>




      <!--tile C-->
      <app-hex [hexId]="'C35'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C30'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C24'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C17'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

    </div>

    <div class="hexes-11 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--G tile-->
      <app-hex [hexId]="'G33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G13'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G7'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>




      <!--tile C-->
      <app-hex [hexId]="'C34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>
    <div class="hexes-12 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--G tile-->
      <app-hex [hexId]="'G37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G32'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G26'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'G12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G6'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>






      <!--tile E-->
      <app-hex [hexId]="'E22'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E15'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E9'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'E4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK2'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


    </div>

    <div class="hexes-13 column">



      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--G tile-->
      <app-hex [hexId]="'G36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'G11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <div *ngIf="!this.BK3">
        <app-hex [hexId]="'G5'" [colourclass]= "this.colorBK3" [strengthId]= ""></app-hex>
      </div>
      <div *ngIf="this.BK3">
      <app-hex [hexId]="'G5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      </div>




      <!--tile E-->
      <app-hex [hexId]="'E28'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E21'" [colourclass]="'hexagon stone'" [strengthId]="'stone'"></app-hex>
      <app-hex [hexId]="'E14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'E3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-14 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--G tile-->
      <app-hex [hexId]="'G35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G30'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>




      <!--tile E-->
      <app-hex [hexId]="'E33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E27'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E20'" [colourclass]="'hexagon grey'" [strengthId]="'get-card3'"></app-hex>
      <app-hex [hexId]="'E13'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E7'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-15 column">


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--G tile-->
      <app-hex [hexId]="'G34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G23'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>




      <!--tile E-->
      <app-hex [hexId]="'E37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E32'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E26'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'E19'" [colourclass]="'hexagon blue'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E6'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E1'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
    </div>

    <div class="hexes-16 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--J tile-->
      <app-hex [hexId]="'J29'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'J30'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'J31'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J33'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <app-hex [hexId]="'BK3'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

      <!--tile E-->
      <app-hex [hexId]="'E36'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E25'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E18'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'E11'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'E5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>


    <div class="hexes-17 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--J tile-->
      <app-hex [hexId]="'J29'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'J30'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J31'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J32'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J33'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <a class="emptyhex"></a>

      <!--tile E-->
      <app-hex [hexId]="'E35'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E30'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E24'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
    </div>

    <div class="hexes-18 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--J tile-->
      <app-hex [hexId]="'J16'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'J17'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J20'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'J21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'J22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <a class="emptyhex"></a>

      <!--tile E-->
      <app-hex [hexId]="'E34'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'E29'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'E23'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'E16'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

    </div>

    <div class="hexes-19 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--J tile-->
      <app-hex [hexId]="'J16'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'J18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J19'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'J20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J21'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'J22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
    </div>

    <div class="hexes-20 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--J tile-->

      <app-hex [hexId]="'J10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J13'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'J14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'J15'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>




      <!--M tile-->
      <app-hex [hexId]="'M1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
    </div>

    <div class="hexes-21 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--J tile-->

      <app-hex [hexId]="'J5'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J7'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>




      <!--M tile-->
      <app-hex [hexId]="'M2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'M11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'M17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M23'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>


    </div>


    <div class="hexes-22 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--J tile-->

      <app-hex [hexId]="'J1'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J2'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J3'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J4'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <!--M tile-->
      <app-hex [hexId]="'M3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M7'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--Last tiles/El Dorado-->

      <app-hex [hexId]="'EDBlue1'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
    </div>


    <div class="hexes-23 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--M tile-->
      <app-hex [hexId]="'BK4'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>
      <app-hex [hexId]="'M4'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'M8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M19'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'M25'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <!--Last tiles/El Dorado-->

      <app-hex [hexId]="'EDBlue2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>

    </div>


    <div class="hexes-24 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--M tile-->
      <app-hex [hexId]="'M9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle4'"></app-hex>
      <app-hex [hexId]="'M14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'M20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M26'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M35'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <!--Last tiles/El Dorado-->

      <app-hex [hexId]="'EDBlue3'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
    </div>

    <div class="hexes-25 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--M tile-->
      <app-hex [hexId]="'M15'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M27'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'M32'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'M36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--Last tiles/El Dorado-->

    </div>

    <div class="hexes-26 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--M tile-->
      <app-hex [hexId]="'M22'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'M28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'M37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>



  </div

  ></div>
</body>
