.login-image {
  height: 768px;
  width: 1366px;
  /* The image used */
  background-image: url("../images/backgrounds/login_bg1.jpeg");

  /* Position and center the image to scale nicely on all screens */
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  /* width: 100%; */
  top:0;
  left:0;
  padding:0;
  margin: 0;
}

.userinput {
  position: fixed;
  top: 476px;
  left: 620px;
  width: 135px;
  height: auto;
  font-size: 18px;
  color: white;
  background-color: black;
  font-family: serif;
  font-weight: bold;
  font-variant: small-caps;
  border: none;
  font-style: italic;
}

.loginbutton {
  position: fixed;
  left: 1138px;
  top: 635px;
  width: 110px;
  height: 54px;
  font-size: 26px;
  color: white;
  background-color: transparent;
  font-family: serif;
  font-variant: small-caps;
  font-weight: bold;
  border: none;
  font-style: italic;
}



