<div class="game-image">
  <div class="col-md-6 col-md-offset-3">
  <h1>General Lobby Screen </h1>
  <div>
    Users from secure api end point:
    <ul class="list-group">
     <!-- <li class="list-group-item" *ngFor="let user of users">
        {{user.username}}</li> -->

      <div *ngFor= "let room of rooms">
        <button class="game-rooms" type="submit" (click)="joinRoom()">
          {{room.name}}
          <!-- {{room.status}} -->
          <div *ngIf="joinable">
            <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="addPlayerToRoom()">Join Room</button>
          </div>
        </button>
      </div>
    </ul>

    <!-- <li class="list-group-item" *ngFor="let user of users">
      {{user.username}} {{user.id}} </li>

    <li class="list-group-item" *ngFor="let room of rooms">
      {{room.name}}, {{room.PlayersInRoom}} </li>

    <div *ngFor= "let room of rooms">
      <button class="game-rooms" type="submit" >{{room.id}}
        {{room.name}}
        {{room.pwdBool}}
        {{room.status}}</button>
    </div> -->

  </div>

    <form>
      <a href="https://www.ravensburger.com/spielanleitungen/ecm/Spielanleitungen/26754%202%20anl%201741342.pdf?ossl=pds_text_Spielanleitung" target="_blank" class="btn btn-sm btn-primary btn-block">Paths</a>
      <a href="https://www.ravensburger.com/spielanleitungen/ecm/Spielanleitungen/26754%20anl%201741342.pdf?ossl=pds_text_Spielanleitung" target="_blank" class="btn btn-sm btn-primary btn-block">Manual</a>
    </form>

  <button class="btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/login']">Logout</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['/host-screen']">Host a Game</button>



  </div>
</div>

