<h3 class="opponents" id="opponent1">{{opponent1}}</h3>
<h3 class="opponents" id="opponent2">{{opponent2}}</h3>
<h3 class="opponents" id="opponent3">{{opponent3}}</h3>
<ul>
  <li *ngFor="let select of selected">
    {{ select.id }}
  </li>
</ul>
<!-- Market-->
<button id="marketPlace" type="button" (click)="showMarketFunc()">Marketplace</button>
<div *ngIf="showMarket">

  <!-- upper Cards -->
  <div class="upperMarket">
    <span *ngFor="let upperCard of upperCards" >
      <button [disabled]="isFree" id="{{upperCard.cardID}}" class="{{upperCard.cardID}} marketCard" type="submit" (click)="chooseMarketCard($event)"></button>
      <span class="cardsLeft">{{upperCard.left}}</span>
    </span>
  </div>

  <!-- lower Cards -->
  <div class="lowerMarket">
    <span *ngFor="let lowerCard of lowerCards">
      <button [disabled]="firstPurchase" id="{{lowerCard.cardID}}" class="{{lowerCard.cardID}} marketCard" type="submit" (click)="chooseMarketCard($event)"></button>
      <span class="cardsLeft">{{lowerCard.left}}</span>
    </span>
  </div>
</div>

<!-- Expedition Board -->
<div>
  <h4 id="drawPile">Draw<br>pile</h4>
  <div class="scrollCards" id="cb-button">
    <span *ngFor="let handCard of handCards">
      <label class="handCardFormat {{handCard.cardClass}}">
        <input id="{{handCard.cardID}}" type="checkbox" [checked]="handCard.notChecked" (change)="toggleHandSelection(handCard)">
      </label>
    </span>
  </div>

  <h4 id="playerName">{{playerName}}</h4>
</div>

<!-- bottom left buttons-->
<div>
  <button id="zoomIn" class="bottomLeft" type="button">Zoom In</button>
  <button id="zoomOut" class="bottomLeft" type="button">Zoom Out</button>
  <button id="endTurn" class="bottomLeft" type="submit">End turn</button>
  <button id="move" class="bottomLeft" type="submit">Move</button>
  <button [disabled]="firstPurchase" id="buy" class="bottomLeft" type="submit" (click)="buy()">Buy</button>
  <button id="discard" class="bottomLeft" type="submit">Discard</button>
</div>


<button id="leave" type="submit" [routerLink]="['/game']">Quit Game</button>
