
.opponents {
  position: fixed;
}

#opponent1 {
  top: 15px;
  left: 175px;}

#opponent2 {
  top: 15px;
  left: 525px;}

#opponent3 {
  top: 15px;
  left: 875px;}

/* Market & market cards */
#marketPlace {
  position: fixed;
  left: -188px;
  top: 375px;
  width: 400px;
  -moz-transform: rotate(-90.0deg);
  -o-transform: rotate(-90.0deg);
  -webkit-transform: rotate(-90.0deg);
}

.marketCard {
  height: 149px; /*ratio: 6.1 breit, 10.1 hoch*/
  width: 96px;
  margin-top: 5px;
}

.upperMarket {
  position: fixed;
  top: 109px;
  left: 120px;
  width: 900px;
}

.lowerMarket {
  position: fixed;
  top: 449px;
  left: 120px;
}

.cardsLeft {
  margin-right: 20px;
  font-size: 250%
}

/* maybe have to change names*/

.cartographer {
  background: url('../images/cards/A.cartographer.png') no-repeat top left;
  background-size: cover;}

.compass {
  background: url('../images/cards/A.compass.png') no-repeat top left;
  background-size: cover;}

.native {
  background: url('../images/cards/A.native.png') no-repeat top left;
  background-size: cover;}

.scientist {
  background: url('../images/cards/A.scientist.png') no-repeat top left;
  background-size: cover;}

.transmitter {
  background: url('../images/cards/A.transmitter.png') no-repeat top left;
  background-size: cover;}

.travel-log {
  background: url('../images/cards/A.travel-log.png') no-repeat top left;
  background-size: cover;}

.sailor {
  background: url('../images/cards/B1-sailor.png') no-repeat top left;
  background-size: cover;}

.captain {
  background: url('../images/cards/B3v2-captain.png') no-repeat top left;
  background-size: cover;}

.explorer {
  background: url('../images/cards/G1-explorer.png') no-repeat top left;
  background-size: cover;}

.scout {
  background: url('../images/cards/G2v1-scout.png') no-repeat top left;
  background-size: cover;}

.trailblazer {
  background: url('../images/cards/G3v3-trailblazer.png') no-repeat top left;
  background-size: cover;}

.pioneer {
  background: url('../images/cards/G5v5-pioneer.png') no-repeat top left;
  background-size: cover;}

.giant-machete {
  background: url('../images/cards/G6v3-giant-machete.png') no-repeat top left;
  background-size: cover;}

.jack-of-all-trades {
  background: url('../images/cards/GBY1v2-jack-of-all-trades.png') no-repeat top left;
  background-size: cover;}

.adventurer {
  background: url('../images/cards/GBY2v4-adventurer.png') no-repeat top left;
  background-size: cover;}

.prop-plane {
  background: url('../images/cards/GBY4v4-prop-plane.png') no-repeat top left;
  background-size: cover;}

.traveler {
  background: url('../images/cards/Y1-traveler.png') no-repeat top left;
  background-size: cover;}

.photographer {
  background: url('../images/cards/Y2v2-photographer.png') no-repeat top left;
  background-size: cover;}

.journalist {
  background: url('../images/cards/Y3v3-journalist.png') no-repeat top left;
  background-size: cover;}

.treasure-chest {
  background: url('../images/cards/Y4v3-treasure-chest.png') no-repeat top left;
  background-size: cover;}

.millionaire {
  background: url('../images/cards/Y4v5-millionaire.png') no-repeat top left;
  background-size: cover;}

/* Expedition Board */
#drawPile {
  position: fixed;
  left: 350px;
  top: 660px;
}

.scrollCards {
  position: fixed;
  top: 630px;
  left: 525px;
  width: 323px;
  overflow-y: auto;
  white-space: nowrap;
}
.handCard {
  display: inline-block;
  height: 101px;
  width: 61px;
}

#playerName {
  position: fixed;
  left: 860px;
  top: 670px;
}

/* Buttons bottom left */
.bottomLeft {
  position: fixed;
  width: 85px;}

#zoomIn {
  top: 640px;
  left: 75px;}

#zoomOut {
  top: 680px;
  left: 75px;}

#endTurn {
  top: 720px;
  left: 75px;}

#move {
  top: 640px;
  left: 180px;}

#buy {
  top: 680px;
  left: 180px;}

#discard {
  top: 720px;
  left: 180px;}

#leave {
  position: fixed;
  top: 720px;
  left: 1200px;}

.gameboard{
  position: fixed;


}
.board_input{
  position: fixed;
  top: -1180px;
  left: 10px;
}
