<h3 class="opponents" id="opponent1">{{opponent1}}</h3>
<h3 class="opponents" id="opponent2">{{opponent2}}</h3>
<h3 class="opponents" id="opponent3">{{opponent3}}</h3>


<button id="marketPlace" type="button" (click)="showMarketFunc()">Marketplace</button>
<div *ngIf="showMarket">
  <!-- top row-->
  <div class="upperMarket">
    <span *ngFor="let upperCard of upperCards" >
      <button [disabled]="lowerMarketFree" class="{{upperCard.cardID}} marketCard" type="submit"></button>
      <span class="cardsLeft">{{upperCard.left}}</span>
    </span>
  </div>

  <!-- last row-->
  <div class="lowerMarket">
    <span *ngFor="let lowerCard of lowerCards">
      <button class="{{lowerCard.cardID}} marketCard" type="submit"></button>
      <span class="cardsLeft">{{lowerCard.left}}</span>
    </span>
  </div>
</div>

<!-- Player Cards and stuff -->
<div>
  <h4 id="drawPile">Draw<br>pile</h4>
  <div class="scrollCards">
    <button class="handCard" id="handCard1" type="submit">{{handCard1}}</button>
    <button class="handCard" id="handCard2" type="submit">{{handCard2}}</button>
    <button class="handCard" id="handCard3" type="submit">{{handCard3}}</button>
    <button class="handCard" id="handCard4" type="submit">{{handCard4}}</button>
    <button class="handCard" id="handCard5" type="submit">{{handCard4}}</button>
    <button class="handCard" id="handCard6" type="submit">{{handCard4}}</button>
  </div>

  <h4 id="playerName">{{playerName}}</h4>
</div>

<!-- bottom left buttons-->
<div>
  <button id="zoomIn" class="bottomLeft" type="button">Zoom In</button>
  <button id="zoomOut" class="bottomLeft" type="button">Zoom Out</button>
  <button id="endTurn" class="bottomLeft" type="submit">End turn</button>
  <button id="move" class="bottomLeft" type="submit">Move</button>
  <button id="buy" class="bottomLeft" type="submit">Buy</button>
  <button id="discard" class="bottomLeft" type="submit">Discard</button>
</div>


<button id="leave" type="submit" [routerLink]="['/game']">Quit Game</button>
