.opponents {
  position: fixed;
}

#opponent1 {
  top: 15px;
  left: 175px;}

#opponent2 {
  top: 15px;
  left: 525px;}

#opponent3 {
  top: 15px;
  left: 875px;}

/* Market & market cards */
#marketPlace {
  position: fixed;
  left: -188px;
  top: 375px;
  width: 400px;
  -moz-transform: rotate(-90.0deg);
  -o-transform: rotate(-90.0deg);
  -webkit-transform: rotate(-90.0deg);
}

.marketCard {
  position: fixed;
  height: 149px; /*ratio: 6.1 breit, 10.1 hoch*/
  width: 90px;}

#upperCard1 {
  left: 120px;
  top: 120px;}

#upperCard2 {
  left: 255px;
  top: 120px;}

#upperCard3 {
  left: 390px;
  top: 120px;}

#upperCard4 {
  left: 525px;
  top: 120px;}

#upperCard5 {
  left: 660px;
  top: 120px;}

#upperCard6 {
  left: 795px;
  top: 120px;}

#upperCard7 {
  left: 120px;
  top: 280px;}

#upperCard8 {
  left: 255px;
  top: 280px;}

#upperCard9 {
  left: 390px;
  top: 280px;}

#upperCard10 {
  left: 525px;
  top: 280px;}

#upperCard11 {
  left: 660px;
  top: 280px;}

#upperCard12 {
  left: 795px;
  top: 280px;}

#bottomCard1 {
  left: 120px;
  top: 460px;}

#bottomCard2 {
  left: 255px;
  top: 460px;}

#bottomCard3 {
  left: 390px;
  top: 460px;}

#bottomCard4 {
  left: 525px;
  top: 460px;}

#bottomCard5 {
  left: 660px;
  top: 460px;}

#bottomCard6 {
  left: 795px;
  top: 460px;}

/* Expedition Board */
#drawPile {
  position: fixed;
  left: 350px;
  top: 660px;
}

.scrollCards {
  position: fixed;
  top: 630px;
  left: 525px;
  width: 323px;
  overflow-y: auto;
  white-space: nowrap;
}
.handCard {
  display: inline-block;
  height: 101px;
  width: 61px;
}

#playerName {
  position: fixed;
  left: 860px;
  top: 670px;
}

/* Buttons bottom left */
.bottomLeft {
  position: fixed;
  width: 85px;}

#zoomIn {
  top: 640px;
  left: 75px;}

#zoomOut {
  top: 680px;
  left: 75px;}

#endTurn {
  top: 720px;
  left: 75px;}

#move {
  top: 640px;
  left: 180px;}

#buy {
  top: 680px;
  left: 180px;}

#discard {
  top: 720px;
  left: 180px;}

#leave {
  position: fixed;
  top: 720px;
  left: 1200px;}

.gameboard{
  position: fixed;


}
.board_input{
  position: fixed;
  top: -1180px;
  left: 10px;
}
