<body>
<div class="container">
  <div class="path "
       (mouseenter) ="mouseEnter('test input value')"
       (mouseleave) ="mouseLeave('test input value')"
  >
    <div class="hexes-1 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--A tile-->
      <app-hex [hexId]="'A16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-2 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--A tile-->
      <app-hex [hexId]="'A23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-3 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--A tile-->
      <app-hex [hexId]="'A29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-4 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A19'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



    </div>


    <div class="hexes-5 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A35'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'A31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>
    <div class="hexes-6 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--dorado tile-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
 </div>


    <div class="hexes-7 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--dorado tile-->
     <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>

    </div>

    <div class="hexes-8 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--F tile-->
      <app-hex [hexId]="'F5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F3'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F2'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F1'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K9'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
 </div>

    <div class="hexes-9 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--F tile-->
      <app-hex [hexId]="'F11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F10'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'F9'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F7'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'F6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-10 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--D tile-->
      <app-hex [hexId]="'F16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F14'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F13'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K13'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K12'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'K10'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
 </div>

    <div class="hexes-11 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'K21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K16'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>

    </div>
    <div class="hexes-12 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--C tile-->
      <app-hex [hexId]="'N9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N7'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'N6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-13 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->
      <app-hex [hexId]="'N15'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>      <app-hex [hexId]="'N12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
    </div>

    <div class="hexes-14 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->
      <app-hex [hexId]="'N22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'N19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'N18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'N17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N16'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
    </div>

    <div class="hexes-15 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->
      <app-hex [hexId]="'N28'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'N27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N25'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N24'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N23'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
    </div>

    <div class="hexes-16 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->
      <app-hex [hexId]="'N33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'N32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N31'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'N30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
    </div>


    <div class="hexes-17 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->
      <app-hex [hexId]="'N37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>      <app-hex [hexId]="'N34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-18 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->
      <app-hex [hexId]="'I4'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'I3'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'I2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK3'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

    </div>

    <div class="hexes-19 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->

      <app-hex [hexId]="'I9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'I8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'I6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-20 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--I tile-->

      <app-hex [hexId]="'I15'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'I14'" [colourclass]="'hexagon grey'" [strengthId]="'get-card3'"></app-hex>
      <app-hex [hexId]="'I13'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I12'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I11'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-21 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>      <app-hex [hexId]="'K15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K4'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>

      <!--I tile-->

      <app-hex [hexId]="'I22'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'I21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'I20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I19'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I18'" [colourclass]="'hexagon card'" [strengthId]="'discard3'"></app-hex>
      <app-hex [hexId]="'I17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
    </div>


    <div class="hexes-22 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->

      <app-hex [hexId]="'K28'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K3'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>


      <!--I tile-->

      <app-hex [hexId]="'I28'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'I27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'I26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I25'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I24'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'I23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>


    <div class="hexes-23 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--Last tiles/El Dorado-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <!--K tile-->
      <app-hex [hexId]="'K33'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K27'" [colourclass]="'hexagon blue'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K13'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K2'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>


      <!--I tile-->


      <app-hex [hexId]="'I33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'I32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I31'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'I30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>


    <div class="hexes-24 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'strength1'"></app-hex>

      <!--K tile-->
      <app-hex [hexId]="'K37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K26'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K12'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--I tile-->


      <app-hex [hexId]="'I37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>      <app-hex [hexId]="'I35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'I34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-25 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--el dorado-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'strength1'"></app-hex>
      <!--K tile-->
      <app-hex [hexId]="'K36'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K25'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'K5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK5'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


    </div>

    <div class="hexes-26 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K35'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K24'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-27 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K34'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K16'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>

    </div>

  </div

  ></div>
</body>
