<body>
<div class="container">
  <div class="path "
       (mouseenter) ="mouseEnter('test input value')"
       (mouseleave) ="mouseLeave('test input value')"
  >
    <div class="hexes-1 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>






      <!--A tile-->
      <app-hex [hexId]="'A16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-2 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--A tile-->
      <app-hex [hexId]="'A23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-3 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--A tile-->
      <app-hex [hexId]="'A29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A24'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-4 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'A25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A19'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A13'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



    </div>


    <div class="hexes-5 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A35'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'A31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'A9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>
    <div class="hexes-6 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--A tile-->
      <app-hex [hexId]="'A36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A21'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--dorado tile-->
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
 </div>


    <div class="hexes-7 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--A tile-->
      <app-hex [hexId]="'A37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'A28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'A22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK1'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>



      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--dorado tile-->
     <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-b'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>

    </div>

    <div class="hexes-8 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--F tile-->
      <app-hex [hexId]="'F5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F3'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F2'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F1'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K9'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
 </div>

    <div class="hexes-9 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--F tile-->
      <app-hex [hexId]="'F11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F10'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'F9'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F7'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'F6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-10 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--D tile-->
      <app-hex [hexId]="'F16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'F14'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'F13'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'F12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K13'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K12'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'K10'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
 </div>

    <div class="hexes-11 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D4'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'D3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D1'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'BK2'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <!--K tile-->
      <app-hex [hexId]="'K22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'K21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K16'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>


    </div>
    <div class="hexes-12 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K28'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K27'" [colourclass]="'hexagon blue'" [strengthId]="'paddle3'"></app-hex>
      <app-hex [hexId]="'K26'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K25'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K24'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-13 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'D12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'D10'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K33'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-14 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D20'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D19'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'D18'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'D17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'D16'" [colourclass]="'hexagon blue'" [strengthId]="'paddle3'"></app-hex>
      <app-hex [hexId]="'BK3'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>


      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'K37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K36'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K35'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K34'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'BK6'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

    </div>

    <div class="hexes-15 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--D tile-->
      <app-hex [hexId]="'D28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D27'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D26'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'D25'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'D23'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>


<!--tile H-->
      <app-hex [hexId]="'H1'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'H5'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'H10'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'H16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--K tile-->
      <app-hex [hexId]="'O5'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'O4'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'O3'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'O2'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'O1'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>

    </div>

    <div class="hexes-16 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--D tile-->
      <app-hex [hexId]="'D33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D32'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D31'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'D30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <!--tile H-->
      <app-hex [hexId]="'H2'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'H6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H23'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>


      <a class="emptyhex"></a>

      <!--O tile-->
      <app-hex [hexId]="'O11'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'O10'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'O9'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'O8'" [colourclass]="'hexagon blue'" [strengthId]="'paddle4'"></app-hex>
      <app-hex [hexId]="'O7'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'O6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

    </div>


    <div class="hexes-17 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--D tile-->
      <app-hex [hexId]="'D37'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'D36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'D34'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>


      <!--tile H-->
      <app-hex [hexId]="'H3'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'H7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H24'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'H29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>



      <a class="emptyhex"></a>

      <!--O tile-->
      <app-hex [hexId]="'O16'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'O15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'O14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'O13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'O12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

    </div>

    <div class="hexes-18 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--tile H-->
      <app-hex [hexId]="'H4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'H13'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H30'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'H34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>





      <!--E tile-->
      <app-hex [hexId]="'E4'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E3'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E2'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'BK5'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

    </div>

    <div class="hexes-19 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--tile H-->
      <app-hex [hexId]="'H9'" [colourclass]="'hexagon green'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H14'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H26'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H31'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'H35'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>





      <!--E tile-->
      <app-hex [hexId]="'E9'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E7'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E6'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'E5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-20 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--tile H-->
      <app-hex [hexId]="'H15'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H21'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'H27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H32'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'H36'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>





      <!--E tile-->
      <app-hex [hexId]="'E15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E14'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E13'" [colourclass]="'hexagon grey'" [strengthId]="'get-card3'"></app-hex>
      <app-hex [hexId]="'E12'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E11'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-21 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--tile H-->
      <app-hex [hexId]="'H22'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'H28'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'H33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'H37'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>





      <!--E tile-->
      <app-hex [hexId]="'E22'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E21'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E20'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'E19'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'E18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E17'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E16'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>


    </div>


    <div class="hexes-22 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--E tile-->
      <app-hex [hexId]="'BK4'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

      <app-hex [hexId]="'E28'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'E27'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E26'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E25'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'E24'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'E23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>


    <div class="hexes-23 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--E tile-->
      <app-hex [hexId]="'E33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E32'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'E31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'E30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'E29'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


    </div>


    <div class="hexes-24 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--E tile-->
      <app-hex [hexId]="'E37'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'E36'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'E35'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'E34'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


    </div>


  </div

  ></div>
</body>
