<body>
<div class="container">
  <div class="path "
       (mouseenter) ="mouseEnter('test input value')"
       (mouseleave) ="mouseLeave('test input value')"
  >
    <div class="hexes-1 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <app-hex [hexId]="'B4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-2 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <app-hex [hexId]="'B9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-3 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <app-hex [hexId]="'B15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B14'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'B12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B11'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B10'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-4 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--tile C-->
      <app-hex [hexId]="'C1'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C5'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <app-hex [hexId]="'B22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'B21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'B19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'B17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B16'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>
    <div class="hexes-5 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--tile C-->
      <app-hex [hexId]="'C2'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C11'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C17'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--B Tile-->
      <app-hex [hexId]="'B28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'B26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B25'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B24'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>
    <div class="hexes-6 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--C tile-->

      <app-hex [hexId]="'C3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C7'" [colourclass]="'hexagon blue'" [strengthId]="'paddle'"></app-hex>
      <app-hex [hexId]="'C12'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C18'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C24'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>


      <!--tile B-->
      <app-hex [hexId]="'B33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'B30'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'B29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>


    <div class="hexes-7 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--C tile-->

      <app-hex [hexId]="'C4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C13'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C19'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'C25'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C30'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <!--  <app-hex [hexId]="'C1'" [colourclass]="blockade ? 'hexagon blue' : blockadeColour" [strengthId]="blockade ?'strength1': blockadeStrength" class="blockade1"></app-hex>-->


      <!--tile B-->

      <app-hex [hexId]="'B37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'B36'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'B35'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'B34'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

    </div>

    <div class="hexes-8 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--tile G-->

      <app-hex [hexId]="'G4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <!--C tile-->

      <app-hex [hexId]="'C9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'C14'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C26'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'C35'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <!--blockade-->
      <app-hex [hexId]="'BK1'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>
    </div>

    <div class="hexes-9 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--tile G-->
      <app-hex [hexId]="'G9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G8'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G7'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G6'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--C tile-->

      <app-hex [hexId]="'C15'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle'"></app-hex>
      <app-hex [hexId]="'C27'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C22'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C36'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>



    </div>

    <div class="hexes-10 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

<!--tile G-->
      <app-hex [hexId]="'G15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G14'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G13'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G12'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>

      <!--C tile-->

      <app-hex [hexId]="'C22'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'C28'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C33'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'C37'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
    </div>

    <div class="hexes-11 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'G21'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'G18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'G17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G16'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>

      <!--blockade-->
      <app-hex [hexId]="'BK2'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

    </div>
    <div class="hexes-12 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--G tile-->

      <app-hex [hexId]="'G28'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G26'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
      <app-hex [hexId]="'G25'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G24'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'G23'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>


      <!--K tile-->
      <app-hex [hexId]="'K1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K5'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K10'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K16'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>


    </div>

    <div class="hexes-13 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <!--G tile-->
      <app-hex [hexId]="'G33'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G32'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'G31'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'G30'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


      <!--k tile-->
        <app-hex [hexId]="'K2'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'K17'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K23'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

    </div>

    <div class="hexes-14 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--C tile-->
      <app-hex [hexId]="'G37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <!--K tile-->

      <app-hex [hexId]="'K3'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K7'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K12'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K24'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K29'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>


    </div>

    <div class="hexes-15 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->

      <app-hex [hexId]="'K4'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K13'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K19'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K25'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'K30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K34'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>

      <app-hex [hexId]="'J1'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J5'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J16'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>

    </div>

    <div class="hexes-16 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--G tile-->
      <app-hex [hexId]="'G9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G14'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'G20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G26'" [colourclass]="'hexagon green'" [strengthId]="'strength3'"></app-hex>
      <app-hex [hexId]="'G31'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'G35'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>

      <!--J tile-->

      <app-hex [hexId]="'J2'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J6'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J17'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'J23'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>

    </div>


    <div class="hexes-17 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--K tile-->
      <app-hex [hexId]="'K15'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K21'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K27'" [colourclass]="'hexagon blue'" [strengthId]="'paddle3'"></app-hex>
      <app-hex [hexId]="'K32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'K36'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>

      <!--J tile-->

      <app-hex [hexId]="'J3'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J7'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'J12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J18'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J24'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J29'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>

    </div>

    <div class="hexes-18 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <app-hex [hexId]="'K22'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'K28'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K33'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'K37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



      <!--J tile-->
      <app-hex [hexId]="'J4'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J8'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'J13'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'J19'" [colourclass]="'hexagon card'" [strengthId]="'discard1'"></app-hex>
      <app-hex [hexId]="'J25'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J30'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J34'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>

    </div>

    <div class="hexes-19 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--J tile-->
      <app-hex [hexId]="'J9'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'J20'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'J26'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'J31'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>
      <app-hex [hexId]="'J35'" [colourclass]="'hexagon grey'" [strengthId]="'get-card1'"></app-hex>
    </div>

    <div class="hexes-20 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--J tile-->
      <app-hex [hexId]="'J15'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J21'" [colourclass]="'hexagon stone'" [strengthId]="'geröll'"></app-hex>
      <app-hex [hexId]="'J27'" [colourclass]="'hexagon blue'" [strengthId]="'paddle2'"></app-hex>
      <app-hex [hexId]="'J32'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J36'" [colourclass]="'hexagon grey'" [strengthId]="'get-card2'"></app-hex>

    </div>

    <div class="hexes-21 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--J tile-->

      <app-hex [hexId]="'J22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J28'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J33'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'J37'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

      <app-hex [hexId]="'BK4'" [colourclass]="'hexagon blockade'" [strengthId]="'B1'"></app-hex>

    </div>


    <div class="hexes-22 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <!--N tile-->

      <app-hex [hexId]="'N34'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N35'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N36'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N37'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-23 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>







      <!--N tile-->
      <app-hex [hexId]="'N29'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N30'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N31'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'N32'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N33'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
    </div>


    <div class="hexes-24 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>



      <!--N tile-->
      <app-hex [hexId]="'N23'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N24'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N25'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N26'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N27'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N28'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
    </div>

    <div class="hexes-25 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>




      <!--I tile-->
      <app-hex [hexId]="'N16'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'N17'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N18'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'N19'" [colourclass]="'hexagon yellow'" [strengthId]="'coin4'"></app-hex>
      <app-hex [hexId]="'N20'" [colourclass]="'hexagon yellow'" [strengthId]="'coin3'"></app-hex>
      <app-hex [hexId]="'N21'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N22'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

    </div>

    <div class="hexes-26 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--N tile-->
      <app-hex [hexId]="'N10'" [colourclass]="'hexagon yellow'" [strengthId]="'coin1'"></app-hex>
      <app-hex [hexId]="'N11'" [colourclass]="'hexagon yellow'" [strengthId]="'coin2'"></app-hex>
      <app-hex [hexId]="'N12'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N13'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N14'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>
      <app-hex [hexId]="'N15'" [colourclass]="'hexagon blue'" [strengthId]="'paddle1'"></app-hex>

    </div>

    <div class="hexes-27 column">

      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>





      <!--N tile-->
      <app-hex [hexId]="'N5'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N6'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N7'" [colourclass]="'hexagon green'" [strengthId]="'strength2'"></app-hex>
      <app-hex [hexId]="'N8'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N9'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
    </div>

    <div class="hexes-28 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>

      <app-hex [hexId]="'N1'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N2'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N3'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'N4'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>

      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>



    </div>
    <div class="hexes-29 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon green'" [strengthId]="'strength1'"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>

    </div>

    <div class="hexes-30 column">
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>
      <a class="emptyhex"></a>


      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>
      <app-hex [hexId]="'el-g'" [colourclass]="'hexagon yellow'" [strengthId]="''"></app-hex>

    </div>
    </div

  ></div>
</body>

